body {
    margin: 0px;
    
}

.main {
    margin: 100px 50px 0px 150px;
    display: flex;
   justify-content: center;
   background-color: aqua;
   padding: 10px;
   border: 1px solid red;
}
.img {
  
    width: 200px;
    
}
 
.right-sec {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-cont {
     
}

.btn {
   
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    color: #0f1419;
    padding-top: 6px ;
    padding-bottom:6px ;
    padding-left: 14px;
    padding-right:14px ;
    font-weight: bold;
    background: #dfe1e5;
    margin-left: 20px;
}



.input {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 24px;
    padding-top: 10px ;
    padding-bottom:10px ;
    padding-left: 30px;
    padding-right:30px ;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}
.sec-2 {
    height: 200px;
    margin: 100px 50px 0px 150px;
   background-color: aqua;
   padding: 10px;
   border: 1px solid red;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.item-1 ,.item-2 ,.item-3{
    width: 40px;
    margin: 5px;
    padding: 5px;
     
    background-color: rgb(144, 217, 35);
}
.gift-sec{
    margin: 100px 50px 0px 150px;
    padding: 10px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-gift {
    background-image: url(./gift.jpg);
    width: 400px;
    height: 400px;
    background-size: contain;
    border: 6px solid black;
    border-radius: 10px;
}

.img-gift:hover {
    background-image: url(./gift.webp);
}

.Java-sec {
    margin: 100px 50px 0px 150px;
    padding: 10px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#balck-dev{
    background-color: green;
    color: white;
}
#Blackjack{
    color: rgb(215, 215, 48);
}
 

#Password-dev{
    margin: 100px 50px 0px 150px;
    padding-top: 115px;
    padding-left: 52px;
    background-color: #1F2937;
    height: 550px;
    width:550px ;
    color: white;
}
#HGen {
    margin: 0px;
}
#SpanID{
    color: #4ADF86;
     
}
#TextNev{
    margin-top:0px;
}

#BtnGen {
  
   margin-top: 50px;
   padding: 9px 17px 9px 15px;
   width: 191px;
   height: 42px;
   background-color: #10B981;
   color: white;
   border-radius: 10px;
}
#line{
    margin-top: 50px;
    width: 446px;
    height: 2px;
    background-color: #2F3E53;
    border-radius: 10px;
}
.TwoPassCon{
    display: flex;
  
    
}
.PasswordOne {
    padding-top: 20px;
    margin-top: 50px;
    text-align: center;
    margin-right: 24px;
    width: 211px;
    height: 39px;
    background-color: #273549;
    border-radius: 10px;
}

#input-dev{
    margin: 100px 50px 0px 150px;
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: white;


}
#input-el {
    width: 600px;
    line-height: 30px;
    border: 1px solid #10B981;
    margin-bottom: 5px;
}

#input-btn{
    width: 150px;
    line-height: 10px;
    padding: 10px 8px 10px 8px;
    background-color: #10B981;
}
#ul_el {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}
#ul_el li {
    margin-top: 5px;
}
#ul_el li a{
    color: #10B981;
}

